<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>

<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Express With MSSQL</title>
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <!-- <% include ./layout %> -->
    <h1>Express With MSSQL - </h1>
    <p>template by jade (Pug) </p>
  </body>
</html> -->
